{% extends 'home.html' %}

{% block title %}Энциклопедия{% endblock %}

{% block content %}
	<h1 class="text-monospace pt-2" style="text-align: center">Энциклопедия</h1>
	{% if wikiTextField == '' %}
		<form method="GET">
			{% csrf_token %}
			<div class="row">
				<div class="col"><input class="form-control" type="text" name="wikiTextField"></div>
				<div class="col-0 mr-3"><button class="btn btn-primary mt-0" type="submit">Найти</button></div>
			</div>
		</form>
	{% else %}
		<h3 class="result-btn fl">Результат поиска по запросу: <span style="border-radius: 5px;padding: 1px 4px;padding-bottom: 2px;" class="bg-dark text-light">{{wikiTextField}}</span></h3>
		<a class="btn btn-primary fr mb-wiki-btn" href="{% url 'wiki' %}">Назад</a>
		<div class="clearfix"></div>
		<div style="padding: 5px;border-radius: 5px;font-family: 'Ubuntu', sans-serif;" class="text-light {% if response == 'Страница не найдена!' %}bg-danger{% else %}bg-dark{% endif %}">{{response}}</div>
	{% endif %}
{% endblock %}